.user-interface ul {
    display:flex;
    flex-direction:row;
}

.user-interface li {
    list-style-type:none;
}

.user-interface button {
    margin:5px;
    padding:5px;
}

.user-interface a {
    text-decoration:none;
    color:black;
}